* {
  box-sizing: border-box;
  text-transform: uppercase;
}

html, body {
  background-color: palegoldenrod;
}

.grid-wrapper {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.knob {
  background-color: lightpink;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transform: rotate(calc(var(--percentage, 0) * 1deg));
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 500px;
  /* border: 1px solid white; */
  /* padding: 10px; */
  /* border: 1px solid rgb(232, 161, 70); */
}


.grid div {
  /* border: 1px solid rgb(87, 189, 174); */
  border: 2px solid palegoldenrod;
  background-color: rgb(207, 207, 207);
  height: 10%;
  width: 6.25%;
  /* padding: 10px; */
  /* border-radius: 10%; */
  /* box-shadow: 1px 1px white; */
}

div.active {
  background-color: rgb(108, 218, 218);
}

div.on {
  background-color: lightgreen;
}

