* {
  box-sizing: border-box;
  text-transform: uppercase;
}

html, body {
  background-color: palegoldenrod;
}

.grid-wrapper {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.knob {
  background-color: lightpink;
  border-radius: 100%;
  border: none;
  height: 80px;
  width: 80px;
  transform: rotate(calc(var(--percentage, 0) * 1deg));
}

button {
  border: none;
  background-color: lightcyan;
  height: 50px;
  width: 110px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 500px;
}


.grid div {
  border: 1px solid rgb(87, 189, 174);
  border: 1px solid white;
  /* background-color: rgb(207, 207, 207); */
  height: 10%;
  width: 6.25%;
  padding: 10px;
  /* border-radius: 20%; */
  /* box-shadow: 1px 1px white; */
}



div.lead {
  background-color: lightgray;
}

div.bass {
  background-color: rgb(187, 187, 187);
}

div.drums {
  background-color: rgb(156, 156, 156);
}

div.active {
  background-color: lightblue;
}

div.on {
  background-color: lightgreen;
}

